* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: aqua;
    line-height: 3rem;
    height: 3rem;
    text-align: center;
}

.choice {
    height: 165px;
    width: 165px;

}

.choice:hover {
    opacity: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#computer-score {
    font-size: 4rem;
}

#msg {
    background-color:black;
    color: white;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}

.msg-container {
    margin-top: 5rem;
}